.titulos{
    text-align: center;
    font-size: xx-large;
    font-style: inherit;
    color:lightcoral;
}
.form_control{
    align-self: center;
}
h5{
    color: lightblue;
}
.carousel img{
    width: auto;
    max-height: 800px;
}
